In [1]:
import pandas as pd

In [3]:
fuel = pd.read_csv('/Users/sandramarczak/Documents/udemy/pandas_rafal_mobilo/course-files/fuel.csv', low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'])

In [4]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [14]:
fuel.shape

(31684, 8)

In [5]:
listOfCars = ['Renault', 'Toyota','Ford']

In [6]:
isInList = fuel['Make'].isin(listOfCars)

In [9]:
isInList.head()

0    False
1    False
2    False
3    False
4    False
Name: Make, dtype: bool

In [7]:
fuel[isInList]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
668,27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
669,27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
670,27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
671,27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
672,28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
...,...,...,...,...,...,...,...,...
31266,31786,2012,Ford,Taurus AWD,Large Cars,Regular,20.0,NaN
31267,31784,2012,Ford,Taurus FWD,Large Cars,Regular,21.0,NaN
31268,31785,2012,Ford,Taurus FWD,Large Cars,Regular,22.0,NaN
31269,31458,2012,Ford,Transit Connect Van,Special Purpose Vehicle 2WD,Regular,23.0,NaN
31270,31460,2012,Ford,Transit Connect Wagon FWD,Special Purpose Vehicle 2WD,Regular,23.0,NaN

In [10]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()

In [11]:
isNoStartStopDefined.head()

0    True
1    True
2    True
3    True
4    True
Name: Start Stop Technology, dtype: bool

In [12]:
fuel[isNoStartStopDefined]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN
...,...,...,...,...,...,...,...,...
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Regular,25.0,NaN
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,Regular,25.0,NaN
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,Premium,19.0,NaN
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN

In [16]:
IsStartStopDefined = fuel['Start Stop Technology'].notnull()

In [17]:
IsStartStopDefined.head()

0    False
1    False
2    False
3    False
4    False
Name: Start Stop Technology, dtype: bool

In [18]:
fuel[IsStartStopDefined]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
16448,30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
16449,30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
16711,30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
17323,30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
17433,30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
...,...,...,...,...,...,...,...,...
31525,31926,2012,Lexus,RX 450h,Sport Utility Vehicle - 2WD,Premium,29.0,Y
31526,31971,2012,Lexus,RX 450h AWD,Sport Utility Vehicle - 4WD,Premium,28.0,Y
31536,31395,2012,Lincoln,MKZ Hybrid FWD,Midsize Cars,Regular,38.0,Y
31623,31799,2012,Mercedes-Benz,S400 Hybrid,Large Cars,Premium,21.0,Y
31674,31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0,N

In [19]:
mpg50_60 = fuel['Combined MPG (FT1)'].between(50, 60)

In [20]:
mpg50_60.head()

0    False
1    False
2    False
3    False
4    False
Name: Combined MPG (FT1), dtype: bool

In [21]:
fuel[mpg50_60]

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
16448,30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
17433,30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
18295,30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
18296,30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
18371,15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y
19162,30965,2001,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
19240,16447,2001,Honda,Insight,Two Seaters,Regular,53.0,Y
20178,17355,2002,Honda,Insight,Two Seaters,Regular,53.0,Y
21192,18313,2003,Honda,Insight,Two Seaters,Regular,53.0,Y
22264,19357,2004,Honda,Insight,Two Seaters,Regular,52.0,Y
23392,20479,2005,Honda,Insight,Two Seaters,Regular,52.0,Y
24522,21632,2006,Honda,Insight,Two Seaters,Regular,52.0,Y
29643,26425,2010,Toyota,Prius,Midsize Cars,Regular,50.0,Y

In [26]:
print(f'There are {len(fuel[isInList])} cars within the list {listOfCars}')
print(f'There are {len(fuel[isNoStartStopDefined])} cars wherte Start/Stop technology is not defined')
print(f'There are {len(fuel[IsStartStopDefined])} cars wherte Start/Stop technology is defined')
print(f'There are {len(fuel[mpg50_60])} cars with MPG value between 50 and 60')

There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
There are 31374 cars wherte Start/Stop technology is not defined
There are 310 cars wherte Start/Stop technology is defined
There are 13 cars with MPG value between 50 and 60